---
import Header from "../components/Header.astro";

const title = "mevboost.org | MEV-Boost Tracker";
const description =
  "Track MEV-Boost relays and block builders.";
const website = "https://mevboost.org";
const image = "https://mevboost.org/meta.png";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    {/* General */}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    {/* Primary meta tags */}
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    {/* Open Graph + Facebook */}
    <meta property="og:type" content="website" />
    <meta property="og:url" content={website} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />

    {/* Twitter */}
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={website} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={image} />

    {/* Favicon */}
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    {/* Astro */}
    <meta name="generator" content={Astro.generator} />
  </head>

  <body>
    <Header />
    <slot />

    <style lang="scss" is:global>
      * {
        box-sizing: border-box;
      }

      html {
        margin: 0px;
        padding: 0px;
        font-family: system-ui, sans-serif;
        font-feature-settings: "ss01";
        text-rendering: optimizeLegibility;
      }

      body {
        margin: 0px;
        overscroll-behavior-y: none;
      }

      a {
        text-decoration: none;
      }

      table {
        width: 100%;
        border-spacing: 0px;

        tr {
          th {
            font-size: 13px;
            color: rgba(0, 0, 0, 0.7);
            font-family: monospace;
            text-transform: uppercase;
          }

          td {
            font-size: 15px;
          }

          th,
          td {
            text-align: left;
            border-bottom: 1px solid #ececec;
            padding: 8px 24px;

            a {
              text-decoration: none;
              color: inherit;
              border-bottom: 1px dashed rgba(0, 0, 0, 0.7);

              &:hover {
                opacity: 0.7;
              }
            }
          }
        }
      }
    </style>
  </body>
</html>
